{% comment %}
  Renders a hading for the header.

  Usage:
  {% render 'header-cart' %}
{% endcomment %}

<div class="tw-px-8 tw-flex tw-items-center tw-font-bold tw-h-[64px]">
  {{ 'sections.cart.shopping_cart' | t }}
</div>
